body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
    color: white;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
header {
    padding: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
section {
    padding: 20px;
}
.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto;
    width: 50%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
}
footer {
    background-color: black;
    padding: 10px;
    position: relative;
    width: 100%;
}
